@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-family: "Oleo Script Swash Caps", system-ui;
  --font-weight: 700;
  --font-style: normal;
}
